<% include partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header">Edit <%= blog.title %></div>
    
    <form class="ui form" action="/blogs/<%= blog._nid %>?_method=PUT" method="POST">
        <div class="field">
        <label>Title</label>
        <input type="text" value="<%= blog.title %>" name=blog[title]>
        </div>
        <div class="field">
        <label>Image</label>
        <input type="text" value="<%= blog.image %>" name=blog[image]>
        </div>
        <div class="field">
        <label>Description</label>
        <textarea name=blog[body]> <%= blog.body %></textarea>
        </div>
        <input class="ui primary button" type="Submit">
    </form>
    </div>